{% extends 'base.html.twig' %}

{% block title %} {{ 'wallofquotes.authors.add'|trans }} {% endblock %}

{% block body %}
    <div class="card">
        {{ form_start(form) }}
        <div class="card-header">
            {{ 'wallofquotes.authors.add'|trans }}
        </div>
        <div class="card-body">
            {{ form_row(form.name) }}
        </div>
        <div class="card-footer">
            <div class="float-right">
                {{ form_row(form.save, {'attr': {'class': 'btn btn-sm btn-primary'} }) }}
            </div>
            <a href="{{ path('wallofquotes_author_index') }}" class="btn btn-sm btn-danger">{{ 'wallofquotes.ui.back'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}