{% extends 'base.html.twig' %}

{% block title %} {{ 'wallofquotes.ui.quotes'|trans }} {% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            {{ 'wallofquotes.ui.quotes'|trans }}
            <div class="float-right">
                <a href="{{ path('wallofquotes_quote_create') }}" class="btn btn-sm btn-success">{{ 'wallofquotes.quotes.add'|trans }}</a>
            </div>
        </div>
        <div class="card-body">
            {% if quotes|length is not same as(0) %}
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">{{ 'wallofquotes.quotes.quote'|trans }}</th>
                        <th scope="col">{{ 'wallofquotes.quotes.signedBy'|trans }}</th>
                        <th scope="col">{{ 'wallofquotes.authors.author'|trans }}</th>
                        <th scope="col">{{ 'wallofquotes.quotes.date'|trans }}</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quote in quotes %}
                        <tr>
                            <td>{{ quote.text }}</td>
                            <td>{{ quote.nickNameAuthor }}</td>
                            <td>{{ quote.author.name }}</td>
                            <td>{{ quote.date|date('d/m/Y') }}</td>
                            <td class="d-flex flex-row">
                                <a href="{{ path('wallofquotes_quote_update', {'id': quote.id}) }}" class="btn btn-sm btn-primary mr-1">{{ 'wallofquotes.ui.update'|trans }}</a>
                                <form method="POST" action="{{ path('wallofquotes_quote_delete', {'id': quote.id}) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-sm btn-danger">{{ 'wallofquotes.ui.delete'|trans }}</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {{ 'wallofquotes.quotes.none'|trans }}
            {% endif %}
        </div>
    </div>
{% endblock %}
